@import url(bootstrap-rtl.min.css);
h3 span {
  padding-right: 5px;
  padding-left: inherit;
}

address i {
  margin-left: inherit;
  margin-right: -30px;
}

dl dt {
  float: right;
}
dl dd {
  text-align: left;
}

ul {
  padding-left: inherit;
  padding-right: 15px;
}
ul.bullets {
  padding-left: inherit;
  padding-right: 0px;
}
ul.bullets li:before {
  display: none;
}
ul.bullets li:after {
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'fontawesome';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  content: "\f111";
  color: #be0c0c;
  font-size: 7px;
  position: relative;
  top: -4px;
  margin-left: 12px;
}
ul.checkboxes {
  padding-left: inherit;
  padding-right: 0;
}
ul.checkboxes label span {
  float: left;
}
ul.checkboxes.inline li {
  width: 24%;
  float: right;
}

a.link.arrow:after {
  content: "#";
  margin-right: 2px;
}

.btn.arrow {
  padding-right: 10px;
  padding-left: 30px;
}
.btn.arrow:before {
  content: "#";
  margin-right: 2px;
  position: absolute;
  left: 10px;
  text-align: left;
}
.btn.sa:before {
  border-width: 9px 0 0 9px;
  border-color: transparent transparent transparent #be0c0c;
  left: 0;
  right: inherit;
}

body:not(.nav-btn-only) .primary-nav, body:not(.nav-btn-only) .secondary-nav {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
}
body:not(.nav-btn-only) .primary-nav.has-mega-menu .mega-menu-parent .mega-menu, body:not(.nav-btn-only) .secondary-nav.has-mega-menu .mega-menu-parent .mega-menu {
  position: absolute;
  right: inherit;
  left: -7px;
  text-align: right;
}
body:not(.nav-btn-only) .primary-nav.has-mega-menu .mega-menu-parent .mega-menu .container, body:not(.nav-btn-only) .secondary-nav.has-mega-menu .mega-menu-parent .mega-menu .container {
  padding-right: 30px;
  padding-left: 0px;
}
body:not(.nav-btn-only) .primary-nav.has-mega-menu .mega-menu-parent .wrapper, body:not(.nav-btn-only) .secondary-nav.has-mega-menu .mega-menu-parent .wrapper {
  left: 0 !important;
  right: inherit !important;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li, body:not(.nav-btn-only) .secondary-nav ul.navigation li {
  text-align: right;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > a, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > a {
  padding-right: inherit;
  padding-left: 20px;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > a:before, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > a:before {
  left: 0;
  padding-left: 7px;
  right: inherit;
  padding-right: inherit;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > a:after, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > a:after {
  left: 0;
  padding-left: 7px;
  right: inherit;
  padding-right: inherit;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > .wrapper, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > .wrapper {
  right: 0;
  left: inherit;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > .wrapper > .nav-wrapper, body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > .wrapper .mega-menu .nav-wrapper, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > .wrapper > .nav-wrapper, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > .wrapper .mega-menu .nav-wrapper {
  padding-left: 0;
  padding-right: 0;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > .wrapper > .nav-wrapper > ul > li:first-child:after, body:not(.nav-btn-only) .primary-nav ul.navigation li.has-child > .wrapper .mega-menu .nav-wrapper > ul > li:first-child:after, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > .wrapper > .nav-wrapper > ul > li:first-child:after, body:not(.nav-btn-only) .secondary-nav ul.navigation li.has-child > .wrapper .mega-menu .nav-wrapper > ul > li:first-child:after {
  left: inherit;
  right: 12px;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li ul, body:not(.nav-btn-only) .secondary-nav ul.navigation li ul {
  padding-left: 0;
  padding-right: 0;
}
body:not(.nav-btn-only) .primary-nav ul.navigation li ul li .nav-wrapper, body:not(.nav-btn-only) .secondary-nav ul.navigation li ul li .nav-wrapper {
  right: inherit;
  left: 0;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
body:not(.nav-btn-only) .primary-nav ul.navigation li ul li.has-child > a:before, body:not(.nav-btn-only) .secondary-nav ul.navigation li ul li.has-child > a:before {
  content: "\f053";
}

#page-header .right {
  text-align: left;
}
#page-header .secondary-nav {
  display: inline-block;
  margin-right: 10px;
  border: none;
}
#page-header .secondary-nav ul.navigation li.has-child .nav-wrapper i {
  margin-right: 0;
  margin-left: 10px;
}
#page-header .secondary-nav li.has-child > a, #page-header .primary-nav li.has-child > a {
  padding-left: 20px;
  padding-right: 10px;
}
#page-header .nav-btn {
  right: inherit;
  left: 0;
}
#page-header .btn.icon i {
  margin-left: 5px;
}

body.nav-btn-only #page-header .right {
  padding-right: inherit;
  padding-left: 40px;
}
body.nav-btn-only #page-header .primary-nav {
  padding-right: 0;
  margin-right: 0;
  right: inherit;
  padding-left: 0;
  margin-left: 0;
  left: 0;
  text-align: right;
}
body.nav-btn-only #page-header .primary-nav.has-mega-menu .mega-menu-parent .mega-menu {
  right: inherit;
  text-align: inherit;
  left: 0;
}
body.nav-btn-only #page-header .primary-nav.has-mega-menu .mega-menu-parent .mega-menu a.has-child {
  padding-right: inherit;
  padding-left: 25px;
}
body.nav-btn-only #page-header .primary-nav.has-mega-menu .mega-menu-parent .mega-menu a.has-child:before {
  right: inherit;
  padding-right: inherit;
  left: 0;
  padding-left: 7px;
}
body.nav-btn-only #page-header .primary-nav.has-mega-menu .mega-menu-parent .mega-menu .container {
  padding-left: 0px;
  padding-right: 0px;
}
body.nav-btn-only #page-header .primary-nav.has-mega-menu .mega-menu-parent .mega-menu .container .row {
  padding-right: 0px;
  padding-left: 0px;
}
body.nav-btn-only #page-header .primary-nav ul.navigation > li:first-child:after {
  left: 8px;
  right: inherit;
}
body.nav-btn-only #page-header .primary-nav ul {
  padding-left: inherit;
  padding-right: 0;
}
body.nav-btn-only #page-header .primary-nav ul li.has-child > a {
  padding-left: inherit;
  padding-right: 10px;
}
body.nav-btn-only #page-header .primary-nav ul li.has-child > a:before {
  right: inherit;
  padding-right: inherit;
  left: 0;
  padding-left: 7px;
}
body.nav-btn-only #page-header .primary-nav ul li a.has-child {
  padding-left: inherit;
  padding-right: 25px;
}
body.nav-btn-only #page-header .primary-nav ul li a.has-child:before, body.nav-btn-only #page-header .primary-nav ul li a.has-child:after {
  padding-right: inherit;
  padding-left: 10px;
}

.hero-section.has-background .slider .presentation:after {
  right: 0;
  left: inherit;
}
.hero-section.has-background .slider .presentation .description .label, .hero-section.has-background .slider .presentation .description .rating-passive {
  margin-left: 20px;
  margin-right: inherit;
}
.hero-section.has-map .results-wrapper .search-form .section-title h2 {
  margin-left: inherit;
  margin-right: 0;
}
.hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="text"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="email"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="date"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="time"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="search"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="password"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="number"], .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="tel"], .hero-section.has-map .results-wrapper .search-form.inputs-underline textarea.form-control {
  padding-left: 0;
  padding-right: 0;
}
.hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="text"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="text"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="email"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="email"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="date"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="date"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="time"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="time"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="search"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="search"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="password"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="password"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="number"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="number"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="tel"]:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline input[type="tel"]:focus, .hero-section.has-map .results-wrapper .search-form.inputs-underline textarea.form-control:active, .hero-section.has-map .results-wrapper .search-form.inputs-underline textarea.form-control:focus {
  padding-left: 8px;
  padding-right: 8px;
}
.hero-section.has-map .results-wrapper .search-form .btn[type="submit"] {
  right: inherit;
  left: 0;
}
.hero-section.has-map .results-wrapper .search-form .btn[type="submit"] i {
  margin-left: 0;
  margin-right: 0;
}
.hero-section .form.vertical .btn[type="submit"] i {
  margin-left: inherit;
  margin-right: 10px;
}
.hero-section .coupon .wrapper {
  text-align: right;
}
.hero-section .coupon .image {
  left: inherit;
  right: 0;
}
.hero-section .coupon .image .circle {
  left: inherit;
  right: 0;
}
.hero-section .coupon .description {
  padding-left: inherit;
  padding-right: 330px;
}
.hero-section .coupon .description figure {
  margin-right: inherit;
  margin-left: 20px;
}
.hero-section .coupon .description .location i {
  margin-right: inherit;
  margin-left: 10px;
}
.hero-section .results-wrapper {
  -moz-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
  float: left;
}
.hero-section .results-wrapper.show-detail .results {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.hero-section .results-wrapper.show-detail .sidebar-detail {
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.hero-section .results-wrapper h2 .results-number {
  margin-left: inherit;
  margin-right: 10px;
}
.hero-section .results-wrapper .section-title .full-detail {
  float: left;
}
.hero-section .results-wrapper .result-item > a {
  padding-left: 25px;
  padding-right: 25px;
}
.hero-section .results-wrapper .result-item > a:before {
  left: inherit;
  right: 0;
}
.hero-section .results-wrapper .result-item > a .result-item-detail .image {
  left: inherit;
  right: 0;
  float: right;
}
.hero-section .results-wrapper .result-item > a .result-item-detail .image:after {
  left: inherit;
  right: 0;
}
.hero-section .results-wrapper .result-item > a .result-item-detail .description {
  padding-left: inherit;
  padding-right: 140px;
}
.hero-section .results-wrapper .result-item > a .result-item-detail .description h5 i {
  margin-right: inherit;
  margin-left: 5px;
}
.hero-section .results-wrapper .result-item .ribbon {
  right: inherit;
  left: 10px;
}
.hero-section .results-wrapper .result-item .controls-more ul {
  right: inherit;
  left: 15px;
}
.hero-section .results-wrapper .tse-scrollbar {
  left: 0;
  right: inherit;
}
.hero-section .results-wrapper .image .price, .hero-section .results-wrapper .gallery-wrapper .price {
  left: inherit;
  right: -6px;
}
.hero-section .results-wrapper .image .price:after, .hero-section .results-wrapper .gallery-wrapper .price:after {
  border-width: 0 6px 6px 0;
  border-color: transparent #ababab transparent transparent;
  left: 0;
}

.answer:before {
  left: inherit;
  right: 31px;
}
.answer .box:before {
  border-width: 8px 4px 0 4px;
  border-color: #be0c0c transparent transparent transparent;
  left: inherit;
  right: 31px;
}
.answer figure {
  text-align: right;
}
.answer figure a {
  margin-left: 10px;
  color: inherit;
}
.answer figure i {
  font-size: 10px;
  margin-left: 5px;
}

.blog-post ul {
  padding-left: inherit;
  padding-right: 25px;
}
.blog-post .meta a:first-child {
  margin-left: inherit;
  margin-right: 0;
}
.blog-post .meta .tags {
  float: left;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  text-align: right !important;
}

.form.inputs-underline .bootstrap-select > .dropdown-toggle.bs-placeholder, .input-group.inputs-underline .bootstrap-select > .dropdown-toggle.bs-placeholder {
  padding-right: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  left: 12px !important;
  right: inherit !important;
}

[class="arrow_right"]:before {
  content: "\23";
}

[class="fa fa-caret-right"]:before {
  content: "\f0d9";
}

.customizer {
  left: inherit;
  right: 0;
}
.customizer .cog {
  left: -37px;
  right: initial;
}

.pagination li.previous i:before {
  content: "\24";
}

.categories-list .list-item .title .icon {
  margin-right: inherit;
  margin-left: 10px;
}
.categories-list .list-item ul {
  padding-left: inherit;
  padding-right: 52px;
}
.categories-list .list-item ul li .count {
  float: left;
}

.checkboxes li {
  margin-right: 0;
  margin-left: 20px;
}

.comments {
  padding-left: 0;
  padding-right: 0;
}
.comments .comment {
  padding-left: inherit;
  padding-right: 80px;
}
.comments .comment figure {
  left: inherit;
  right: 0;
}
.comments .comment figure .image:after {
  border-width: 0 0 10px  10px;
  border-color: transparent transparent white transparent;
  right: inherit;
  left: 0;
}
.comments .comment figure .image:before {
  left: inherit;
  right: 0;
}
.comments .comment .date {
  right: inherit;
  left: 0;
}
.comments .comment .date .fa {
  margin-right: inherit;
  margin-left: 10px;
}
.comments .comment .reply .fa {
  margin-right: inherit;
  margin-left: 10px;
}

.controls-more {
  right: inherit;
  left: 15px;
}
.controls-more ul {
  padding-left: 0;
  padding-right: 0;
  right: inherit;
  left: 8px;
  text-align: right;
}
.controls-more ul li:last-child a:after {
  border-width: 11px 11px 0 0;
  border-color: #fff transparent transparent transparent;
  right: inherit;
  left: 0;
}
.controls-more ul li:last-child a:before {
  border-width: 15px 14px 0 0;
  border-color: rgba(0, 0, 0, 0.05) transparent transparent transparent;
  right: inherit;
  left: -2px;
}
.controls-more ul li:last-child a:hover:after {
  border-color: #e8e8e8 transparent transparent transparent;
}

.datepicker.dropdown-menu {
  right: inherit;
}

.detail-sidebar address figure {
  margin-left: inherit;
  margin-right: 30px;
}

.ui-slider .values input:first-child {
  float: right;
  text-align: right;
}

.ui-slider .values input:last-child {
  float: left;
  text-align: left;
}

.gallery .owl-stage {
  right: 0;
  left: inherit;
}

#gallery-nav .owl-next {
  right: 40px;
}
#gallery-nav .owl-next:after {
  content: "4";
}
#gallery-nav .owl-prev {
  right: 0px;
}
#gallery-nav .owl-prev:after {
  content: "5";
}

.icheckbox {
  margin-right: inherit;
  margin-left: 10px;
}
.icheckbox:after {
  left: inherit;
  right: 5.5px;
}

.infobox-wrapper > img {
  right: inherit;
  left: -15px;
}
.infobox-wrapper .infobox .description {
  padding-right: inherit;
  padding-left: 20px;
}
.infobox-wrapper .infobox .rating-passive {
  left: inherit;
  right: 20px;
}
.infobox-wrapper .infobox .rating-passive .stars {
  margin-right: 2px;
  margin-right: 2px;
}
.infobox-wrapper .infobox .controls-more {
  right: inherit;
  left: 15px;
}

.item > a .description {
  left: inherit;
  right: 20px;
}
.item > a .description figure i {
  margin-right: inherit;
  margin-left: 5px;
}
.item > a .description figure span {
  margin-right: inherit;
  margin-left: 10px;
}
.item > a .image:after {
  left: inherit;
  right: 0;
}
.item.item-row > a {
  padding-left: inherit;
  padding-right: 180px;
}
.item.item-row > a .image {
  left: inherit;
  right: 0;
}
.item.item-row > a .description {
  left: inherit;
  padding-left: 20px;
}
.item.item-row .additional-info {
  text-align: right;
}
.item .price {
  right: -6px;
}
.item .price:after {
  border-width: 6px 6px 0 0;
  border-color: #ababab transparent transparent transparent;
  right: 0;
}
.item .circle {
  left: inherit;
  right: 20px;
}
.item .circle.sale {
  left: inherit;
  right: 20px;
}

.modal-dialog {
  text-align: right;
  direction: rtl;
}

.modal .modal-item-detail.modal-dialog .modal-content .modal-body > .left {
  float: right;
  margin-left: inherit;
  margin-right: -35px;
}
.modal .modal-item-detail.modal-dialog .modal-content .modal-body > .left section {
  padding-left: inherit;
  padding-right: 30px;
}
.modal .modal-item-detail.modal-dialog .modal-content .modal-body > .right {
  padding-left: inherit;
  padding-right: 20px;
}
.modal .close {
  right: inherit;
  left: -15px;
}
.modal .controls-more {
  right: inherit;
  left: 0;
}

.my-items .my-item .image-wrapper {
  float: right;
}
.my-items .my-item .info {
  margin-left: inherit;
  margin-right: 200px;
}
.my-items .my-item .info .additional-info i {
  margin-right: inherit;
  margin-left: 5px;
}
.my-items .my-item .info .additional-info > span {
  padding-right: inherit;
  padding-left: 10px;
}
.my-items .my-item .info .additional-info > span span {
  padding-right: inherit;
  padding-left: 5px;
}
.my-items table thead tr th:last-child {
  text-align: left;
  width: 15%;
}
.my-items table tbody tr td:first-child {
  width: 50%;
}
.my-items table tbody tr td:last-child {
  text-align: left;
  padding-right: inherit;
  padding-left: 20px;
  width: 15%;
}
.my-items ul {
  padding-left: inherit;
  padding-right: 0;
}
.my-items ul li {
  width: 9%;
}
.my-items ul li:first-child {
  width: 50%;
}
.my-items .last-edit {
  left: 10px;
  right: inherit;
}
.my-items .edit-options {
  right: inherit;
  left: 0;
}
.my-items .edit-options a:last-child {
  padding-right: 0px;
  padding-right: 0;
}
.my-items .circle {
  left: inherit;
  right: 10px;
}

span.note {
  display: inline-block;
}

.panel-group .panel-heading .panel-title a:after {
  right: inherit;
  left: 15px;
}
.panel-group .panel-heading .panel-title a i {
  margin-right: inherit;
  margin-left: 8px;
}

.post-author .wrapper {
  padding-left: inherit;
  padding-right: 20px;
}

.pull-left {
  float: right !important;
}

.pull-right {
  float: left !important;
}

.pricing.description {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}
.pricing figure {
  right: inherit;
  left: -10px;
}
.pricing ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.ribbon {
  top: -6px;
  right: inherit;
  left: -6px;
}
.ribbon:after {
  border-width: 0 6px 6px 0;
  border-color: transparent #3c0f90 transparent transparent;
  right: inherit;
  left: 0;
}

.rating-passive .stars {
  margin-left: 5px;
  margin-right: 0;
}

.review .image {
  right: 80px;
  left: inherit;
}
.review .description {
  padding-left: inherit;
  padding-right: 100px;
}
.review .description .rating-passive {
  margin-right: inherit;
  margin-left: 20px;
}

.reviews .review.write .comment:before {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  left: 20px;
}
.reviews .review .comment:before {
  border-width: 10px 10px 10px 0;
  border-color: transparent #fafafa transparent transparent;
  left: -10px;
}
.reviews .review .comment .comment-title .rating {
  margin-right: 20px;
}
.reviews .review .comment .comment-title .rating:before {
  margin-right: 10px;
}
.reviews .review .answer:before {
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
  left: 20px;
}
.reviews .review .visitor-rating dd dt {
  text-align: right;
}
.reviews .review .visitor-rating dd.star-rating {
  clear: left;
  text-align: right;
}

.sidebar .btn[type=submit] i {
  margin-right: 10px;
  margin-left: inherit;
}

/*
.sidebar-detail .section-title h2, .modal .section-title h2 { margin-right: 0; }
.sidebar-detail .label, .modal .label { margin-right: 0; margin-left: 10px; }
.sidebar-detail .owl-dots, .modal .owl-dots { text-align: right; }
*/
.sidebar-detail {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  left: 0;
}

.sidebar-detail .section-title h2, .modal .section-title h2 {
  margin-left: inherit;
  margin-right: 0;
}
.sidebar-detail h5 i, .modal h5 i {
  margin-right: inherit;
  margin-left: 10px;
}
.sidebar-detail .label, .modal .label {
  margin-right: inherit;
  margin-left: 15px;
}
.sidebar-detail .owl-dots, .modal .owl-dots {
  text-align: right;
}
.sidebar-detail .back, .modal .back {
  margin-right: inherit;
  margin-left: 15px;
}
.sidebar-detail .gallery img:after, .modal .gallery img:after {
  left: inherit;
  right: 0;
}
.sidebar-detail .controls-more ul li:first-child a:after, .modal .controls-more ul li:first-child a:after {
  border-width: 11px 0 0 11px;
  border-color: transparent transparent transparent #fff;
  right: inherit;
  left: 0;
}
.sidebar-detail .controls-more ul li:first-child a:before, .modal .controls-more ul li:first-child a:before {
  border-width: 15px 0 0 14px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.05);
  right: inherit;
  left: -2px;
}
.sidebar-detail .controls-more ul li:first-child a:hover:after, .modal .controls-more ul li:first-child a:hover:after {
  border-color: transparent transparent transparent #e8e8e8;
}

.subpage-detail #gallery-nav {
  right: inherit;
  left: 0px;
  margin-left: 0;
}

.tags {
  padding-left: 0;
  padding-right: 0;
}

.text-align-right {
  text-align: left;
}

.text-align-left {
  text-align: right;
}

.testimonials.center blockquote {
  padding-left: 20px;
  padding-right: 20px;
}
.testimonials blockquote {
  border-left: none;
  border-right: none;
  padding-left: inherit;
  padding-right: 120px;
}
.testimonials blockquote .image {
  left: inherit;
  top: 0;
  right: 2px;
}

.user-details .user-image .image .bg-transfer {
  left: inherit;
  right: 0;
}
.user-details .btn {
  right: inherit;
  left: 20px;
}
.user-details .description {
  padding-left: inherit;
  padding-right: 170px;
}

.visitor-rating dt {
  text-align: right;
  width: 100%;
}
.visitor-rating dd {
  text-align: right;
}
.visitor-rating dd.star-rating {
  clear: left;
  text-align: right;
}
